header{
    background-color: rgb(16, 207, 207);
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}


.logo{
    color: rgb(76, 76, 219);
    font-size: 40px;
}

.nav a{
    color: rgb(76, 76, 219);
    font-size: 20px;
    padding-left: 30px;
}

.nav a:hover{
    color: rgb(8, 142, 231);
}

section{
    padding: 100px 200px;
}

main* {
    color: rgb(79, 30, 102);
    width: 300px;
    background: url(web.jpg) no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    color: rgb(230, 20, 20);
}

.view:hover {
    background-color: rgb(15, 171, 192);
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(221, 30, 30);
    margin-bottom: 10px;
}

/* From the explorer outline section */
background-colors: white;
padding: 10px 20px;
font-size: 50px;
border-radius: 40px;